[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
camelot-py = {extras = ["base"], version = "*"}
pandasql = "*"

[dev-packages]

[requires]
python_version = "3.12"
